.aboutpage{
  min-height: max-content;
  background-color: #111927;
  background-image: 
      radial-gradient(at 47% 0%, hsl(209.02, 93%, 45%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
  // background-image: url("https://media.istockphoto.com/photos/old-black-wall-background-texture-with-border-black-vignette-picture-id678607510?k=6&m=678607510&s=612x612&w=0&h=pO4WQJB87x6Zr9jRZ9fBBb2W-xQmY8VktqJgh17GMy8=");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center ;
  text-align: center;
  padding: 10% 0;
  color: whitesmoke;
  box-shadow: 0px 0px 10px  rgb(8, 119, 223), inset 0 11px 10px -10px rgb(8, 119, 223);
}
.flex{
  backdrop-filter: blur(5px) saturate(100%);
    // -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  display:flex;
  flex-direction:row;
  border: 2px solid  rgb(8, 119, 223);
  width: 75%;
  box-shadow: inset 0px 0px 8px  rgb(8, 119, 223);
  gap: 10px;
  padding:20px 25px;
  margin:0 auto;
  justify-content:space-around;
  align-items:center;
  align-content:space-around;
}
@media screen and (max-width: 600px){
  .flex{
    flex-direction:column;
    padding: 30px;
  }

}
.img{
  width: 50vw;
  text-align: center;
}
.img img{
  width:50%;
  object-fit: cover;
  object-position: center;
}
.aboutcontent{
  padding: 0px 20px;
  width: 75vw;
}

[data-aos="flicker"]{
  &.aos-animate{
  animation: flicker 1s step-start 2;
}
}

$about_box_shadow:0px 0px 10px  rgb(8, 119, 223), inset 0 11px 10px -10px rgb(8, 119, 223);

@keyframes flicker {
  0% {
    border: 2px solid transparent;;
    box-shadow:none;
  }
  10%{
    border:2px solid transparent;;
    box-shadow:none ;
  }
  15%{
    border:2px solid rgb(8, 119, 223);
    box-shadow:$about_box_shadow;
  }
  50%{
    border:2px solid transparent;
    box-shadow:none;
  }
  60%{
    border:2px solid rgb(8, 119, 223);;
    box-shadow:$about_box_shadow;
  }
  67% {
    border: 2px solid transparent;;
    box-shadow:none;
  }
  75%{
    border:2px solid rgb(8, 119, 223);;
    box-shadow:$about_box_shadow;
  }
  100% {
    border: 2px solid rgb(8, 119, 223);
    box-shadow:$about_box_shadow;
  }
}