.aboutpage{
  min-height: max-content;
  background: #023047;
  text-align: center;
  padding: 10% 0;
  color: whitesmoke;
}
.flex{
  display:flex;
  flex-direction:row;
  border: 2px solid  white;
  width: 75%;
  gap: 10px;
  padding:20px 25px;
  margin:0 auto;
  justify-content:space-around;
  align-items:center;
  align-content:space-around;

}
@media screen and (max-width: 600px){
  .flex{
    flex-direction:column;
    width: 100%;
    /* margin-left: 10px; */
    /* margin:10px; */
  }

}
.img{
  width: 50vw;
  text-align: center;
}
.img img{
  width:50%;
  object-fit: cover;
  object-position: center;
}
.aboutcontent{
  width: 75vw;
  /* padding: 0px 3rem 0rem 1rem;; */
}