.contactpage{
  background-color: #e76f51;
  height: max-content;
  position: relative;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.contactpage button{
  background-color: #023047;
  box-shadow: none;
  color: white;
}
.formgroup{
  display: inline-block;
  padding: 25px;
  border-radius: 5px;
  border:2px solid black;
  width: 60%;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}
@media screen and (min-width: 650px){
  .formgroup{
    grid-template-columns: 30% 70%;
    /* height: 100vh; */
  }
  
}
@media screen and (min-width: 975px){
  .formgroup{
    width: 540px;
  }
  
}
  


input, textarea{
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border:2px solid black;  
  background-color: #219ebc; 
  color: black;
}
input::selection, textarea::selection{
  background-color: #ffb703;
}
label{
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border:2px solid black;   
}

.media{
  position: relative;
  margin-top: 1rem;
  left:0px;
  top:0px;
}
ul li{
  display: inline-block;
  background-color: black;
  border-radius: 20px;
  }

@media screen and (min-width:600px) {
  .media li{
    display:block;
    margin: 10px;
    margin-bottom: 15px;
    padding:3px 3px 2px 20px;
    background-color: #ffb703;
    border-radius: 0 20px 20px 0;
  }
  .media{
    position: absolute;
    left:-10px;
    top:30%;
    
  }
}

li img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.formgroup button:hover{
  background-color: #023047;
  color: white;
}
