.landingpage{
    background-color: #8ecae6;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    display:grid;
    grid-template-columns: repeat(2, 50vw );
    padding-left: 2vw;
  }
  
  .g-left{
    align-self: center;
  }
  .g-right{
    margin-top: 10%;
  }
  @keyframes typing{
    0%{width: 0;}
    25%{width: 100%;}
    75%{width: 100%;}
    100%{width: 0;}
  }
  @keyframes blink {
    from { border-color: transparent }
    to { border-color: #ff7070; }
  }
  
  .typed-out{
    display: inline-block;
    width: fit-content;
    text-overflow: auto;
    white-space: normal;
  }
  
  .typed-out > h1{
    animation: typing 3s steps(15,end)  infinite, blink 1.2s infinite;
    border-right: 5px solid #ff7070;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
  }
    
  
  button{
    color:black;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #fb8500;
    cursor: pointer;
    border: none;
    margin: 3px;
    overflow: scroll;
    box-shadow: 1px 1px 5px  #fb8500;
  }